.button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
    color: #20e72e; /* Dark contrast text */
    font-family: "barrio", sans-serif;
    transition: color 0.2s ease-in-out;
    padding-top: 3rem;
    padding-left: 8rem;
}

.click-button {
    background-color: #20e72e;
    color: black;
    padding: 1rem 1rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    font-family: "barrio", sans-serif
}

