.container {
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
    background-color: rgb(143, 223, 149);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    opacity: 0.95;
    padding: 0;
    transform:scale(300%);
}

.overlay img {
    object-fit: fill;
}

.collectionDetails,
.imprintDetail,
.paymentButton {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    text-align: left;
    color: #ffffff;
}

.collectionDetails {
    font-family: 'Barrio', sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 4rem 1rem 1rem 1.5rem;
    margin-top: 6rem;
    margin-left: 0;
    margin-right: auto;
}

.collectionDetails h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

.collectionDetails p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 0.5rem 0;
    font-family: 'sono', sans-serif;
}

.imprintDetail {
    font-family: 'sono', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 8rem 0;
}

/* Push payment button to bottom */
.paymentButton {
    margin-top: auto;
    padding-bottom: 8rem;
    text-align: center;
}
