.dotsWrapper {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dotContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px 10px 20px 10px;
    border-top: 4px solid #20e72e;
    border-bottom: 4px solid #20e72e;
}

.dot {
    width: 60px;
    height: 60px;
    background-color: #20e72e;
    border-radius: 50%;
}

.dotLabelTop {
    position: absolute;
    top: -20%;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "barrio", sans-serif;
    color: #ffffff;
}

.dotLabelBottom {
    position: absolute;
    top: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "barrio", sans-serif;
    color: #ffffff;
}
