:root {
  --color-bg1: rgb(243, 28, 233);
  --color-bg2: rgba(242, 0, 137, 1);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 100%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.animatedLearnLogo {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.gradient-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    position: fixed;
    top:0;
    left:0;
    width: 0;
    height: 0;
  }

  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 1) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 5s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 1) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 10s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 1) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 15s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 1) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 20s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 1) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

.neonLinesWrapper {
  position: absolute;
  z-index: 10;
  width: 80px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 999px;
}

.left {
  width: 12px;
  height: 70%;
  animation-delay: 0s;
  //animation: pulse 4s ease-in-out infinite;
}
.right {
  width: 12px;
  height: 70%;
  animation-delay: 0.5s;
  //animation: pulse 4s ease-in-out infinite;
}

.diagonal {
  position: absolute;
  width: 12px;
  height: 70%;
  left: 50%;
  transform: translateX(-50%) rotate(150deg);
  transform-origin: center;
  //animation-delay: 1s;
  //animation: pulse-diagonal 4s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(0.75);
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse-diagonal {
  0% {
    transform: translateX(-50%) rotate(145deg) scale(1);
    opacity: 0.8;
  }
  25% {
    transform: translateX(-50%) rotate(145deg) scale(0.90);
    opacity: 0.8;
  }
  50% {
    transform: translateX(-50%) rotate(145deg) scale(0.8);
    opacity: 1;
  }
  75% {
    transform: translateX(-50%) rotate(145deg) scale(0.90);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-50%) rotate(145deg) scale(1);
    opacity: 0.8;
  }
}

@media (max-width: 768px) {

  .animatedLearnLogo {
    top: 15%;
    left: 5%;
    width: 120px;
    height: 120px;
  }

  .neonLinesWrapper {
    width: 60px;
    height: 100px;
  }

  .left {
    width: 8px;
    height: 70%;
  }

  .right {
    width: 8px;
    height: 70%;
  }

  .diagonal {
    width: 8px;
    height: 70%;
  }

}