.splatContainer {
    position: fixed;
    bottom: 15%;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: auto;
}

.animatedCircle {
    position: relative;
    width: 150px;
    height: 150px;
    background: #20e72e;
    border-radius: 50%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splatterImage {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    width: 220px;
    height: auto;
    pointer-events: none;
    z-index: 1;
}