* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
}

html, body {
  font-family: "Assistant", sans-serif; /* Global font family */
  font-size: 14px;
  height: 100%;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark; /* Support for dark mode */
  background-color: rgb(10, 2, 35);
  overflow-x: hidden;
  color: white;
}

a {
  text-decoration: none;
  color: var(--text-color-light);
}

ul {
  list-style: none;
}

button {
  all: unset; /* Removes all inherited styles */
  display: inline-block; /* Ensures proper sizing */
  cursor: none; /* Enables the pointer cursor */
  text-align: center;
  font: inherit; /* Uses the inherited font */
}

:root {
  /* Colours */
  --background-color-dark: rgb(143, 223, 149);
  --background-color-light: #ffffff;
  --primary-color: #fb5607;
  --secondary-color: #535bf2;
  --text-color-light: rgb(255, 255, 255);
  --text-color-dark: #213547;
  --text-color-detail: rgb(10, 2, 35);

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-dark);
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-light);
  }
}

